
/* THIS IS HOW YOU LEAVE COMMENTS IN CSS */

*{
	margin:0px;
	padding:0px;
}

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for 'xs' since this is the default in Bootstrap*/

/*Small (-sm-) devices (landscape phones, 576px and up)*/
@media (min-width: 576px){

}

/*Medium (-md-) devices (Tablets, 768px and up)*/
@media (min-width: 768px){
	
}

/*Large (-lg-) devices (desktop, 992px and up)*/
@media (min-width: 992px){
	
}

/*Extra Large (-xl-) devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
	
}





body{
	background:rgba(0,0,255,.7);
	color:yellow;
	padding:10px;
	margin:10px;
	font-family:tahoma;
	
}

#bigWrapper{
	background:yellow;
	color:navy;
	padding:10px;
	margin:10px;
	font-family:tahoma;
}

#theTop{
	font-family: 'Metal Mania', cursive;
	letter-spacing: 4px;
	font-size:80px;
	font-weight: bolder;	
}
#demo1 sub{
font-family: 'Tangerine', cursive;
font-size:30px;
letter-spacing: 3px;
}

hr {
	border-bottom:4px solid navy;
}

.myShadow {
	text-shadow: 1px 1px 1px black;
}
.myShadowXXX {
	text-shadow: 4px 4px 12px rgba(0,0,77,.99);
}

.myBorder{
	border:3px solid black;
}

.myBoxShadow{
	box-shadow: 3px 3px 2px rgba(0,0,0,.7);
}

.myBoxShadow:hover{
	box-shadow: 5px 5px 5px rgba(0,0,0,.7);
}

#input_submit{
font-size: 1.2rem;
letter-spacing: .8rem;
background:red;
color:white;
text-shadow: 2px 2px 2px black;
font-weight: bolder;
border 3px solid black;
padding:12px;
box-shadow: 3px 3px 5px black;
}

#input_submit:hover{
font-size: 1.2rem;
background:black;
color:yellow;
font-weight: bolder;
}




.bg-yella {
	background: rgba(255, 255, 153,.8);
}

/* this is to style the carousel control prev/next icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;

}

/* this is to style the carousel control prev/next icons */
.carousel-control-next-icon:after{
	content: '>';
	font-size: 55px;
	font-weight: bolder;
	color:red;
	text-shadow: 4px 4px 3px black;
	background: blue;
}

/* this is to style the carousel control prev/next icons */
.carousel-control-prev-icon:after{
	content: '<';
	font-size: 55px;
	font-weight: bolder;
	color:red;
	text-shadow: 5px 5px 4px black;
	background: blue;
}

#spanForm{
	text-decoration: underline;
	color:red;
	text-shadow: 1px 1px 1px black;
	font-size:1.2rem;
}

.bg-maroon {
	background: rgba(128,0,0,.99);
}