
/* THIS IS HOW YOU LEAVE COMMENTS IN CSS */

*{
	margin:0px;
	padding:0px;
}

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for 'xs' since this is the default in Bootstrap*/

/*Small (-sm-) devices (landscape phones, 576px and up)*/
@media (min-width: 576px){

}

/*Medium (-md-) devices (Tablets, 768px and up)*/
@media (min-width: 768px){
	
}

/*Large (-lg-) devices (desktop, 992px and up)*/
@media (min-width: 992px){
	
}

/*Extra Large (-xl-) devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
	
}





body{
	background:rgba(0,0,255,.7);
	color:yellow;
	padding:10px;
	margin:10px;
	font-family:tahoma;
	
}

#bigWrapper{
	background:yellow;
	color:navy;
	padding:10px;
	margin:10px;
	font-family:tahoma;
}


#demo1 sub{
font-family: 'Tangerine', cursive;
font-size:30px;
letter-spacing: 3px;
}